<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<!--小柜子-->
	<appsettings>
		 
		<add key="appid" value="Eg4fx5b3meg8WwzLkq4dRAQUhbpzbjqtecJVguGVCczQ" />
		
		<add key="sdkkey64" value="DPF4Bf6ivmGBefPruzNMaTt3sm6d75NZgKyjJLs2qWhD" />
		
		<add key="sdkkey32" value="" />
	
		<add key="activekey64" value="8691-11F5-713M-87DV" />
		
		<add key="activekey32" value="" />

		<add key="offlineactivefilepath" value="" />

		<add key="rgb_camera_index" value="0" />
	
		<add key="ir_camera_index" value="1" />
	
		<add key="fr_match_time" value="20" />
		
		<add key="liveness_match_time" value="20" />
	</appsettings>
	
	
	
</configuration>

